[submodule "3rdparty/redismodule-rs"]
	path = 3rdparty/redismodule-rs
	url = https://github.com/bierbaum/redismodule-rs
	branch = wjb
[submodule "git"]
	path = git
	url = https://github.com/bierbaum/git
	branch = wjb
[submodule "3rdparty/rust-rocksdb"]
	path = 3rdparty/rust-rocksdb
	url = https://github.com/rust-rocksdb/rust-rocksdb.git
