build -c dbg
build --copt -fPIC
build --cxxopt -std=c++17
build --cxxopt -fPIC
build --cxxopt -DABSL_ALLOCATOR_NOTHROW
build --copt -pthread
build --linkopt -lpthread

build --copt -fdiagnostics-color=always
run --copt -fdiagnostics-color=always

build:opt -c opt
build:opt --copt -fPIC
build:opt --cxxopt -std=c++17
build:opt --cxxopt -O3
build:opt --cxxopt -fPIC
build:opt --cxxopt -DABSL_ALLOCATOR_NOTHROW
build:opt --copt -pthread
build:opt --linkopt -lpthread

# --workspace_status_command=tools/buildstamp/get_workspace_status

# Address sanitizer
# To use it: bazel build --config asan
# build:asan --crosstool_top //tools/lrte:toolchain
# build:asan --compiler clang
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O0
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --cxxopt -DABSL_ALLOCATOR_NOTHROW
build:asan --cxxopt -std=c++17
build:asan --copt -pthread

# build::asan --copt -Wno-macro-redefined
build:asan --linkopt -fsanitize=address
build:asan --linkopt -lpthread

# Thread sanitizer
# bazel build --config tsan
# build:tsan --crosstool_top //tools/lrte:toolchain
build:tsan --compiler clang
build:tsan --strip=never
build:tsan --copt -fsanitize=thread
build:tsan --copt -DTHREAD_SANITIZER
build:tsan --copt -DDYNAMIC_ANNOTATIONS_ENABLED=1
build:tsan --copt -DDYNAMIC_ANNOTATIONS_EXTERNAL_IMPL=1
build:tsan --copt -O1
build:tsan --copt -fno-omit-frame-pointer
build:tsan --cxxopt -DABSL_ALLOCATOR_NOTHROW
build:tsan --linkopt -fsanitize=thread

# --config msan: Memory sanitizer
# build:msan --crosstool_top //tools/lrte:toolchain
build:msan --compiler clang
build:msan --strip=never
build:msan --copt -fsanitize=memory
build:msan --copt -DADDRESS_SANITIZER
build:msan --copt -O1
build:msan --copt -fno-omit-frame-pointer
build:msan --cxxopt -DABSL_ALLOCATOR_NOTHROW
build:msan --linkopt -fsanitize=memory

# --config ubsan: Undefined Behavior Sanitizer
# build:ubsan --crosstool_top //tools/lrte:toolchain
build:ubsan --compiler clang
build:ubsan --strip=never
build:ubsan --copt -fsanitize=undefined
build:ubsan --copt -O1
build:ubsan --copt -fno-omit-frame-pointer
build:ubsan --linkopt -fsanitize=undefined
build:ubsan --linkopt -lubsan
build:ubsan --cxxopt -DABSL_ALLOCATOR_NOTHROW
